@page "/add-note"

@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using NotesApp.Domain;
@using NotesApp.Service;

@inject INotesService NotesService

<div class="mx-3">
    <h3>Add a new note</h3>
    <p>Hit "Add" to submit your new Note, you can add as many as you want.</p>
</div>

<EditForm class="mt-8" Model="@newNoteModel" OnValidSubmit="@AddNewNote">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container-fluid">
        <div class="row">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="addon-wrapping">Title</span>
                <InputText class="form-control" placeholder="Your cool new note" @bind-Value="newNoteModel.Subject" />
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="addon-wrapping">Your Note</span>
                <InputTextArea class="form-control" placeholder="Type your note here" @bind-Value="newNoteModel.Message" />
            </div>
            <div class="input-group">
                <span class="input-group-text">@@</span>
                <InputText class="form-control" placeholder="Author" @bind-Value="newNoteModel.Author" />
            </div>
            <div class="input-group input-group-sm mb-3 mt-3">
                <button class="btn btn-primary form-control" type="submit">Add</button>
            </div>
            <div class="input-group input-group-sm mb-3">
                <button class="btn btn-secondary form-control" type="button">
                    <NavLink class="text-reset" href="my-notes" Match="NavLinkMatch.All">
                    Back to notes
                    </NavLink>
                </button>
            </div>
        </div>

    </div>

</EditForm>

@code {
    private Note newNoteModel = new();

    private void AddNewNote()
    {
        if (NotesService.InsertNote(newNoteModel))
        {
            newNoteModel = new();
        }
    }
}
