@page "/my-notes"

@using Microsoft.AspNetCore.Components.Routing
@using NotesApp.Domain;
@using NotesApp.Service;

@inject INotesService NotesService
@inject NavigationManager Navigation

<h3>Notes overview</h3>

<div class="container-fluid">
    <div class="row">
        <ul class="list-group p-0">
            @if (allNotes.Count == 0)
            {
                <li class="list-group-item text-center">
                    No notes were created so far
                </li>
            }
            @foreach (Note note in allNotes)
            {
                <li class="list-group-item text-center">
                    <div class="d-flex flex-row justify-content-start">
                        <button type="button" class="btn btn-link flex-grow-1" onclick="@(() => NavigateToEditPage(note.Id))">
                            @@@note.Author: @note.Subject
                        </button>
                        <button type="button" class="btn btn-danger" onclick="@(() => DeleteNote(note))"><span class="oi oi-trash" aria-hidden="true"></span></button>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary mt-3 form-control">
            <NavLink class="text-reset" href="add-note" Match="NavLinkMatch.All">
                New note
            </NavLink>
        </button>
    </div>
</div>

@code {
    private List<Note> allNotes = new();

    private void GetNotes()
    {
        allNotes = NotesService.GetAllNotes();
    }

    private void DeleteNote(Note note)
    {
        NotesService.DeleteNote(note.Id);
        GetNotes();
        StateHasChanged();
    }

    private void NavigateToEditPage(Guid id)
    {
        Navigation.NavigateTo($"/edit-note/{id}");
    }

    protected override void OnInitialized()
    {
        GetNotes();
    }

}
